{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#if value}}
    <div class="relate-field-container flex mt-1">
        {{#with model.attributes}}
            {{moduleLabel last_interaction_parent_type 'sm' rel="tooltip" title=(moduleIconToolTip last_interaction_parent_type)}}

            <div data-original-title="{{../../value}}<br/>{{last_interaction_parent_name}}" class="ellipsis_inline mx-1 leading-3" rel="tooltip">
                <a href="#{{buildRoute module=last_interaction_parent_type id=last_interaction_parent_id}}" class="w-24 block">
                    {{../../value}}
                </a>
                <span class="text-xs text-gray-700 dark:text-gray-300">
                    {{last_interaction_parent_name}}
                </span>
            </div>
        {{/with}}

        {{partial 'focus-icon' this this}}
    </div>
{{/if}}

